* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
}

.header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
    background-color: #637A9F;
    box-shadow: 0 7px 15px 0 rgba(0, 0,0, 0.5);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 15px;
}

.logo {
    display: flex;
    padding: 15px;
    font-size: 1.5rem;
    text-transform: capitalize;
    cursor: pointer;
    color: #FFF3CF;
}

.navigasi {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 2px;
}

.navigasi  li {
    display: inline-block;
    list-style-type: none;
    padding: 10px;
    text-align: center;
}

.navigasi li a {
    display: flex;
    align-items: center;
    color: #FFF3CF;
    padding: 10px;
    font-size: 1.7rem;
    cursor: pointer;
    text-decoration: none;
    text-transform: capitalize;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.navigasi li a:hover{
    border-radius: 7px;
    color: #151616;
    background-color: #E8C872;
    transition: all 0.3s ease-in-out;
}

li > img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.7s ease-in-out;
}

li > img:hover {
    width: 65px;
    height: 65px;
    transition: all 0.7s ease-in-out;
}

/* Color Pallet 
    - #E8c872
    - #FFF3CF
    - #C9D7DD
    - #637A9F
 */